Source: avr-gcc
Section: compilers
Priority: extra
XBSC-Family: avr
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://arduino.cc

Package: avr-gcc
Architecture: any
XBSC-SoftwareVersion: 4.3.2
Depends: 
Description: avr-gcc
 
